@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Invoice Test</h1>
    <div>
        @Html.ActionLink("Invoices", "Index", "Invoices")
    </div>
    <div>
        @Html.ActionLink("Invoices Items", "Index", "InvoiceItems")
    </div>
</div>


